services:

  #sql database service
  db:
    image: mysql:8.0
    environment: #env variables to configure MySql

      MYSQL_ROOT_PASSWORD: root #name of db to create automatically
      MYSQL_DATABASE: world
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports: ["3306:3306"]


    #health check to see when MySql is ready
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-proot"] #runs mysqladmin ping  inside container
      interval: 5s
      timeout: 5s
      retries: 60 #fails after 60 times

      #mount the local ./data folder into mysql
    volumes:
      - ./data:/docker-entrypoint-initdb.d


  #app service
  app:
    build: .
    depends_on: #waits for health check to continue
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_PORT: "3306"
      DB_NAME: world
      DB_USER: user
      DB_PASS: pass
