services:
  db:
    #uses latest sql image
    #image: mysql:latest
    build: db/
    container_name: world_db
    environment:
      #root user password
      MYSQL_ROOT_PASSWORD: root
      #creates a database called world when container is ran
      MYSQL_DATABASE: world

    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "sh", "-c", "mysql -uroot -proot -D world -e 'SELECT 1 FROM country LIMIT 1;' > /dev/null 2>&1"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build:
      #directory containing the dockerfile(docker uses this as a build context)
      context: .
      dockerfile: Dockerfile
      target: prod
    container_name: java_app
    #makes sure that the container that has the database runs first before our code container
    depends_on:
      db:
        condition: good
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: world
    ports:
      - "8080:8080"
    #entrypoint: ["tail", "-f", "/dev/null"]
  #    entrypoint: ["java", "-jar", "app.jar"]

  #needed to make mongo container to run
  mongo:
    image: mongo:latest
    container_name: mongo-dbserver
    ports:
      - "27017:27017"